<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library.mymusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/music_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/music_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".UI.RESET.PasswordActivity"></activity>
        <activity android:name=".UI.PLAYLIST.PlayerActivity" />
        <activity android:name=".UI.RESET.OTPActivity" />
        <activity android:name=".UI.PLAYLIST.PlayActivity" />
        <activity android:name=".UI.REGISTER.RegisterActivity" />
        <activity android:name=".UI.RESET.ResetActivity" />
        <activity android:name=".UI.LOGIN.LoginActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>